.header
  = render "layouts/login_header"
  - breadcrumb :profile, @user
  = render "layouts/bread"

  .container-mypage
    = render "layouts/side_bar"
    .content
      = render partial: "mypage_profile", local: {user: @user}

.footer
  = render "layouts/footer"