.sell
  .sell-main
    = render "devise/shared/login_header"
    
    = form_for @item,html:{class:"sell-container"} do |f|
      %h2.sell-container-title
        商品の情報を入力
      .sell-container-image
        .sell-container-image__title
          %h2 出品画像   
          %span 必須
        .sell-container-image__explanation
          - @main_image.each_with_index do |img,i|
            = image_tag img.image.to_s, size: '620x300',id: "main_#{i}"
          %h3 最大10枚までアップロードできます。
        .sell-container-image__drop-box
          = f.fields_for :images , multipart: true do |image|
            .drop-area
              = image.label :image,class: "text-image", for: "image-dropzone" do
                .input-area
                  = image.file_field :image, multiple: true,id: "image-dropzone",class:"image-area", type: 'file',name: "images[image][]",style:"display: none;"
                  %h2 ドラッグアンドドロップ<br />またはクリックしてファイルをアップロード


      .sell-container-item
        .sell-container-item__name
          %h2 商品名
          %span 必須
        = f.text_field :name,size: "40x1",class: "sell-container-item__name-text-field",placeholder: "商品名 (必須 40文字まで)"
        .sell-container-item__explanation
          %h2 商品の説明
          %span 必須
        .sell-container-item__explanation-text-area
      .sell-container-item-details
        %h2 商品の詳細
        .sell-container-item-details__right
          .select-details

            .select-details__category
              %h2 カテゴリー3
              %span 必須
            .select-tab

            .select-details__size
              %h2 サイズ
              %span 必須
            .select-tab

            .select-details__brand
              %h2 ブランド
              %span 任意
            .select-tab
            .select-details__condition
              %h2 商品の状態
              %span 必須
            .select-tab
      .sell-container-delivery
        .sell-container-delivery__left
          .regarding-delivery
            %h2 配送について
            .mark
              ？
        .sell-container-delivery__right
          .select-delivery
            .select-delivery-add-area
              .select-delivery-add__shipment-fee
                %h2 配送料の負担
                %span 必須
              #shipment-fee-select-tab.select-tab
            .select-delivery__prefecture
              %h2 発送元の地域
              %span 必須
            .select-tab
            .select-delivery__shipment-date
              %h2 発送までの日数
              %span 必須
            .select-tab
      .sell-container-price
        .sell-container-price__left
          .selling-price
            %h2 販売価格(300〜9,999,999)
            .mark
              ？
        .sell-container-price__right
          .input-price-area
            .input-price-area__left
              .price
                %h2 価格
                %span 必須
            .input-price-area__right
              %h2 ¥ 
              .price-input
          .fee-area
            .fee-area__title
              %h2 販売手数料 (10%)
            .fee-reflect-area
              %h2 -
          .gain-area
            .gain-area__title
              %h2 販売利益              
            .gain-reflect-area
              %h2 -
      .sell-container-decision
        .sell-container-decision__sell-btn
        -# = f.submit '出品する' ,class:"sell-container-decision__sell-btn"
        .sell-container-decision__return-btn
          = link_to "もどる",""

  = render "devise/shared/login_footer"