.header
  = render "layouts/header"

.wrapper
  .mid-wrapper
    .main-images
      =link_to root_path, class: "main-link" do
        .main-link__body
      .slider
        .slider-frame
          %ul.slider-list
            %li.slider-list__slide
              =image_tag ("top2.jpg"), class: "image-gazou"
              =link_to root_path, class: "slider-image1" do
                .slider-img
            %li.slider-list__slide
              .main-image
                -# .main-image__area
                -#   %img{src: "main-image__body"}/
                -#   .main-image__text
                -#     %div
                -#       "スマホでかんたん"
                -#       %br>/
                -#       "フリマアプリ"
                -#     %p.main-image__text
                -#       "メルカリはスマホカメラからすぐに出品できる"
                -#       %br/
                -#       "購入時も安心な独自システムアプリです"
                -#     .main-image__btn
                -#       =link_to root_path, class: "appstore" do
                -#         %img{src: "#"}/
                -#       =link_to root_path, class: "googleplay" do
                -#         %img{src: "#"}/
        .slider-control-centerleft
          .slider-control-left-img
        .slider-control-centerright
          .slider-control-right-img
        .slider-control-bottomcenter
          .slider-contorol-bottom__dot
            %span
            %span
        -# :css
          -# .slider-slide > img { width: 100%; display: block; }
              .slider-slide > img:focus { margin: auto; }
    .like-category
      %h2.style-heading 人気のカテゴリー
      .categorys
        %ul.category-list
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              レディース
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              メンズ
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              家電・スマホ・カメラ
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              おもちゃ・ホビー・グッズ
    .item
      .item__name
        .item-category
          %h3.item-category__title レディース新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{href: "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title メンズ新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title 家電・スマホ・カメラ新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title おもちゃ・ホビーグッズ新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
    .like-category
      %h2.style-heading 人気のブランド
      .categorys
        %ul.category-list
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              シャネル
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              ルイヴィトン
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              シュプリーム
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              ナイキ
    .item
      .item__name
        .item-category
          %h3.item-category__title シャネル新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{href: "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title ルイヴィトン新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title シュプリーム新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title ナイキ新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "pointillism.jpg", class: "item-list__box__main__img"
.footer
  = render "layouts/footer"
  = render 'layouts/sell-btn'