.header
  = render "layouts/header"

.wrapper
  .mid-wrapper
    .main-images
      =link_to root_path, class: "main-link" do
        .main-link__body
      .slider
        .slider-frame
          %ul.slider-list
            %li.slider-list__slide
              =image_tag ("top2.jpg"), class: "image-gazou"
              =link_to root_path, class: "slider-image1" do
                .slider-img
            %li.slider-list__slide
              .main-image
        .slider-control-centerleft
          .slider-control-left-img
        .slider-control-centerright
          .slider-control-right-img
        .slider-control-bottomcenter
          .slider-contorol-bottom__dot
            %span
            %span
        -# :css
          -# .slider-slide > img { width: 100%; display: block; }
              .slider-slide > img:focus { margin: auto; }
    .like-category
      %h2.style-heading 人気のカテゴリー
      .categorys
        %ul.category-list
          %li.sc-iYUSvU
            =link_to category_path(1), class: "sc-cHSUfg" do
              レディース
          %li.sc-iYUSvU
            =link_to category_path(214), class: "sc-cHSUfg" do
              メンズ
          %li.sc-iYUSvU
            =link_to category_path(978), class: "sc-cHSUfg" do
              家電・スマホ・カメラ
          %li.sc-iYUSvU
            =link_to category_path(743), class: "sc-cHSUfg" do
              おもちゃ・ホビー・グッズ
    .item
      .item__name
        .item-category
          %h3.item-category__title レディース新着アイテム
          =link_to category_path(1), class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              = render partial: 'item_temprate', collection: @category_1st_items, as: "item"
      .item__name
        .item-category
          %h3.item-category__title メンズ新着アイテム
          =link_to category_path(214), class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              = render partial: 'item_temprate', collection: @category_2nd_items, as: "item"
      .item__name
        .item-category
          %h3.item-category__title 家電・スマホ・カメラ新着アイテム
          =link_to category_path(978), class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              = render partial: 'item_temprate', collection: @category_3rd_items, as: "item"
      .item__name
        .item-category
          %h3.item-category__title おもちゃ・ホビーグッズ新着アイテム
          =link_to category_path(743), class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              = render partial: 'item_temprate', collection: @category_4th_items, as: "item"
    .like-category
      %h2.style-heading 人気のブランド
      .categorys
        %ul.category-list
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              シャネル
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              ルイヴィトン
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              シュプリーム
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              ナイキ
    .item
      .item__name
        .item-category
          %h3.item-category__title シャネル新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              = render partial: 'item_temprate', collection: @brand_1st, as: "item"
      .item__name
        .item-category
          %h3.item-category__title ルイヴィトン新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              = render partial: 'item_temprate', collection: @brand_2nd, as: "item"
      .item__name
        .item-category
          %h3.item-category__title シュプリーム新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              = render partial: 'item_temprate', collection: @brand_3rd, as: "item"
      .item__name
        .item-category
          %h3.item-category__title ナイキ新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              = render partial: 'item_temprate', collection: @brand_4th, as: "item"
.footer
  = render "layouts/footer"
  = render 'layouts/sell-btn'