.header
  = render "layouts/header"

.wrapper
  .mid-wrapper
    - unless user_signed_in?
      %ul.parts-nav.clearfix
        %li
          %a{:href => "https://www.mercari.com/jp/brand/3630/132/"}
            パーカー
        %li
          %a{:href => "https://www.mercari.com/jp/brand/3630/308/"}
            パーカー
        %li
          %a{:href => "https://www.mercari.com/jp/brand/3630/1194/"}
            トレーニング用品
        %li
          %a{:href => "https://www.mercari.com/jp/brand/3630/890/"}
            バスケットボール
        %li
          %a{:href => "https://www.mercari.com/jp/brand/3630/303/"}
            Tシャツ/カットソー(七分/長袖)
        %li
          %a{:href => "https://www.mercari.com/jp/brand/3630/344/"}
            その他
        %li
          %a{:href => "https://www.mercari.com/jp/brand/3630/1371/"}
            ウェア
        %li
          %a{:href => "https://www.mercari.com/jp/brand/3630/304/"}
            シャツ
        %li
          %a{:href => "https://www.mercari.com/jp/brand/3630/310/"}
            スウェット
    .item
      .item__name
        .item-category
          %h3.item-category__title
            #{@category.name}の商品一覧
        .item__content
          %div
            %ul.item-list
              = render partial: 'items/item_temprate', collection: @items, as: "item"
      = paginate(@items)
      .spacial-description
        .spacial-description-title
          %h3 #{@category.name}
.footer
  = render "layouts/footer"
  = render 'layouts/sell-btn'