.header
  .header-top
    .header-top__main
      .header-top__main__title
        =link_to root_path, class: "header-top__main__title__logo" do
          = image_tag ('logo-mercari.svg'), class: 'top-logo'
      %form.header-top__search
        %input.header-top__search__space{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
        %button.header-top__search__space__btn= fa_icon "search", class: "fa-search"
    .header-bottom
      .header-bottom__menu
        .header-bottom__menu__left-navi
          =link_to root_path, class: "header-bottom__menu__left-navi__category" do
            = fa_icon "bars", class: 'bars'
            カテゴリーから探す
        .header-bottom__menu__left-navi2
          =link_to root_path, class: "header-bottom__menu__left-navi2__blund" do
            = fa_icon "tags", class: "tags"
            ブランドから探す
      .header-bottom__right-login
        %ul.header-user-nav
          %li.liked-item-link
            =link_to root_path, class: "header-menu-link" do
              = fa_icon "heart-o", class: 'icon-like-boder'
              いいね！一覧
          %li#header-user-nav
            =link_to root_path, class: "header-menu-link" do
              = fa_icon "bell-o", class: 'icon-bell'
              お知らせ
          %li#header-user-nav
            =link_to root_path, class: "header-menu-link" do
              = fa_icon 'check', class: 'icon-check'
              やることリスト
            %ul.header-user-box
          %li.my-page
            .header-mypage-box
              =link_to "", class: "header-menu-link" do
                = image_tag "nophoto_img.png", size: "32x32", class: "header-user-icon"
                マイページ
            .header-user-box