.header
  .header-top
    .header-top__main
      .header-top__main__title
        =link_to root_path, class: "header-top__main__title__logo" do
          = image_tag 'mercari.png', class: 'top-logo'
      %form.header-top__search
        %input.header-top__search__space{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
        %button.header-top__search__space__btn= fa_icon "search", class: "fa-search"
    .header-bottom
      .header-bottom__menu
        .header-bottom__menu__left-navi
          =link_to root_path, class: "header-bottom__menu__left-navi__category" do
            = fa_icon "bars", class: 'bars'
            カテゴリから探す
        .header-bottom__menu__left-navi2
          =link_to root_path, class: "header-bottom__menu__left-navi2__blund" do
            = fa_icon "tags", class: "tags"
            ブランドから探す
      .header-bottom__right
        .header-bottom__right__registration
          =link_to root_path, class: "header-bottom__right__registration__btn" do
            新規会員登録
        .header-bottom__right__login
          =link_to root_path, class: "header-bottom__right__login__btn" do
            ログイン
.wrapper
  .mid-wrapper
    .main-images
      =link_to root_path, class: "main-link" do
      .slider-body
        .slider-frame
          %ul.slider-list
            %li.slider-slide
              =link_to root_path,  do
                .slider-img
            %li.slider-slide.slide-visible
              %div{class: "main-image"}
                %div{class: "main-image__area"}
                  %img{src: "main-image__body"}/
                  %div{class: "main-image__text"}
                    %div
                      "スマホでかんたん"
                      %br>/
                      "フリマアプリ"
                    %p{class: "#"}
                      "メルカリはスマホカメラからすぐに出品できる"
                      %br/
                      "購入時も安心な独自システムアプリです"
                    %div{class: "#"}
                      =link_to root_path, class: "appstore" do
                        %img{src: "#"}/
                      =link_to root_path, class: "googleplay" do
                        %img{src: "#"}/
        .slider-control-centerleft
          .slider-control-left-img
        .slider-control-centerright
          %div{class: "#slider-control-right-img"}
        .slider-control-bottomcenter
          .slider-contorol-bottom__dot
            %span
            %span
        :css
          .slider-slide > img { width: 100%; display: block; }
              .slider-slide > img:focus { margin: auto; }
    .like-category
      %h2.style-heading 人気のカテゴリー
      .categorys
        %ul.category-list
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              レディース
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              メンズ
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              家電・スマホ・カメラ
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              おもちゃ・ホビー・グッズ
    .item
      .item__name
        .item-category
          %h3.item-category__title レディース新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{href: "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title メンズ新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title 家電・スマホ・カメラ新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title おもちゃ・ホビーグッズ新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
    .like-category
      %h2.style-heading 人気のブランド
      .categorys
        %ul.category-list
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              シャネル
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              ルイヴィトン
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              シュプリーム
          %li.sc-iYUSvU
            =link_to root_path, class: "sc-cHSUfg" do
              ナイキ
    .item
      .item__name
        .item-category
          %h3.item-category__title シャネル新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{href: "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title ルイヴィトン新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title シュプリーム新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title ナイキ新着アイテム
          =link_to root_path, class: "content-more" do
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  =link_to "#", class: 'item-list__box__link' do
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"