.header
  .header-top
    .header-top__main
      .header-top__main__title
        %a.header-top__main__title__logo{:href => ""}
          = image_tag 'mercari.png', class: 'top-logo'
      %form.header-top__search
        %input.header-top__search__space{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        %button.header-top__search__space__btn= fa_icon "search", class: "fa-search"
    .header-bottom
      .header-bottom__menu
        .header-bottom__menu__left-navi
          %a.header-bottom__menu__left-navi__category{:href => "#"}
            = fa_icon "bars", class: 'bars'
            カテゴリから探す
        .header-bottom__menu__left-navi2
          %a.header-bottom__menu__left-navi2__blund{:href => "#"}
            = fa_icon "tags", class: "tags"
            ブランドから探す
      .header-bottom__right
        .header-bottom__right__registration
          %a.header-bottom__right__registration__btn{:href => "#"} 新規会員登録
        .header-bottom__right__login
          %a.header-bottom__right__login__btn{:href => ""} ログイン
.wrapper
  .mid-wrapper
    .main-images
      %a.main-link{:href => "#"}
        .main-link__body
      .slider-body
        .slider-frame
          %ul.slider-list
            %li.slider-slide
              %a{:href => "#"}
                .slider-img
            %li.slider-slide.slide-visible
              %div{:class => "#"}
                %div{:class => "#"}
                  %img{:src => "#"}/
                  %div{:class => "#"}
                    %div
                      "スマホでかんたん"
                      %br>/
                      "フリマアプリ"
                    %p{:class => "#"}
                      "メルカリはスマホカメラからすぐに出品できる"
                      %br/
                      "購入時も安心な独自システムアプリです"
                    %div{:class => "#"}
                      %a{:class => "#"}
                        %img{:src => "#"}/
                      %a{:class => "#"}
                        %img{:src => "#"}/
        .slider-control-centerleft
          .slider-control-left-img
        .slider-control-centerright
          %div{:class => "#slider-control-right-img"}
        .slider-control-bottomcenter
          .slider-contorol-bottom__dot
            %span
            %span
        :css
          .slider-slide > img { width: 100%; display: block; }
              .slider-slide > img:focus { margin: auto; }
    .like-category
      %h2.style-heading 人気のカテゴリー
      .categorys
        %ul.category-list
          %li.sc-iYUSvU
            %a.sc-cHSUfg レディース
          %li.sc-iYUSvU
            %a.sc-cHSUfg メンズ
          %li.sc-iYUSvU
            %a.sc-cHSUfg 家電・スマホ・カメラ
          %li.sc-iYUSvU
            %a.sc-cHSUfg おもちゃ・ホビー・グッズ
    .item
      .item__name
        .item-category
          %h3.item-category__title レディース新着アイテム
          %a.content-more{:href => "#"}
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title メンズ新着アイテム
          %a.content-more{:href => "#"}
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title 家電・スマホ・カメラ新着アイテム
          %a.content-more{:href => "#"}
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title おもちゃ・ホビーグッズ新着アイテム
          %a.content-more{:href => "#"}
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
    .like-category
      %h2.style-heading 人気のブランド
      .categorys
        %ul.category-list
          %li.sc-iYUSvU
            %a.sc-cHSUfg シャネル
          %li.sc-iYUSvU
            %a.sc-cHSUfg ルイヴィトン
          %li.sc-iYUSvU
            %a.sc-cHSUfg シュプリーム
          %li.sc-iYUSvU
            %a.sc-cHSUfg ナイキ
    .item
      .item__name
        .item-category
          %h3.item-category__title シャネル新着アイテム
          %a.content-more{:href => "#"}
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title ルイヴィトン新着アイテム
          %a.content-more{:href => "#"}
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title シュプリーム新着アイテム
          %a.content-more{:href => "#"}
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"
      .item__name
        .item-category
          %h3.item-category__title ナイキ新着アイテム
          %a.content-more{:href => "#"}
            もっと見る#{fa_icon "angle-right", class: "angle-right"}
        .item__content
          %div
            %ul.item-list
              %li.item-list__box
                .item-list__box__parts
                  %a.item-list__box__link{:href => "https://item.mercari.com/jp/m80613946778/"}
                    %figure.item-list__box__link__figure
                      %figreption
                        %span.item-list__box__name
                          ボーダー tシャツ
                      .item-list__box__main
                        %span.item-list__box__main__price{"aria-label" => "Price"} ¥500
                        = image_tag "bodert.jpg", class: "item-list__box__main__img"